* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 160px auto;
    max-width: 640px;
    width: 100%;
}

h2,p {
    margin-bottom: 15px;
    font-weight: bold;
}

form button {
    background-color: darkblue;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: blue;
}

form button:active {
    background-color: rgb(156, 156, 248);
}

form input,
form button {
    display: block;
    padding: 8px;
    width: 27rem;
    margin-bottom: 8px;
}

.mensagem {
    width: 27rem;
    padding: 15px;
    display: none;
    color: #fff;
}